@import "variables";

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: $font-family;
}

.form-wrapper {
    margin: 0 auto;
    padding-top: 64px;
    max-width: 640px;
    width: 94%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;

    a {
        text-decoration: none;
        margin-right: 1em;
        color: #0072ff;
        font-weight: 200;
    }
}