button {
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 60ms ease-in-out;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-weight: 100;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
  margin: 0 10px 0 0;
}

.save {
  color: #FFFFFF;
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
  background: linear-gradient(to right, #00c6ff, #0072ff);
  padding: 6px 18px;
  font-size: 1.2em;
  font-weight: 200;
}

.cancel {
  color: #FFFFFF;
  background: #485563;
  background: -webkit-linear-gradient(to right, #485563, #29323c);
  background: linear-gradient(to right, #485563, #29323c); 
  padding: 6px 18px;
  font-size: 1.2em;
  font-weight: 200;
}