@import "variables";

.drop-area {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
        &:focus {
          outline: 0;
        }
    }

    .file-response {
        width: 100%;
        padding: 30px;
        background: $gray;
        border-radius: $border-radius;
        text-align: center;
        transition: background 0.3s ease-in-out;
        color: #777777;
        .success {
            display: none;
        }
    }

    &:hover .file-response {
        background: rgba(0,0,0,0.1);
    }

    input[type=file]:valid + .file-response {
        background: linear-gradient(to right, #00c6ff, #0072ff);
        color: #FFF;
        .success {
            display: inline-block;
        }

        .default {
            display: none;
        }
    }
}