@import "variables";

legend {
  border: 0;
  padding: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .06rem;
  font-size: .8rem;
  color: $legend;
  margin-bottom: 0.5rem;
  display: block;
  margin-bottom: 0.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  &:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    top: 0.5rem;
    margin-left: 0.5rem;
    background: #dfdfdf;
  }
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media (min-width: 700px) {
  .form-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0;
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: 0;
  display: block;
  margin-bottom: 1rem;
  text-align: left;
  color: #444;
  border-radius: $border-radius;
  /*border: 1px solid #dfdfdf;*/
  border: none;
  background-color: $gray;
  font-size: 1rem;
  height: 3rem;
  padding: 0 .85rem;
  width: 100%;
  box-sizing: border-box;
  + label {
    pointer-events: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #888888;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    visibility: hidden;
    opacity: 0;
  }
}

.is-focused input {
  border-color: #298eea;
}

.is-active input {
  padding: 1.3rem 0.85rem 0.45rem 0.85rem !important;
  + label {
    visibility: visible;
    opacity: 1;
  }
}

.is-focused.is-active input + label {
  color: #333333;
}

.float-label {
  position: relative;
  &.search > input {
    margin-bottom: 0 !important;
    background: rgba(0, 0, 0, 0.2) !important;
    color: #FFF !important;
    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.4);
      letter-spacing: 1px;
      font-weight: 900;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.4);
      letter-spacing: 1px;
      font-weight: 900;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.4);
      letter-spacing: 1px;
      font-weight: 900;
    }
    &:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.4);
      letter-spacing: 1px;
      font-weight: 900;
    }
    + label {
      color: #FFF !important;
    }
  }
}